
// @theme: "";

@import "bootswatch/darkly/variables.less";

code {
  background: #2b2b2b;
  border-radius: 0;
  color: #e0c46c;
  padding: 5px;
  width: 100%;
}

blockquote {
  font-size: 15px;
  color: #DDD;
}

pre {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  padding: 0 5px;

}

h2 {
  margin: 40px 0 20px;

  &:first-child {
    margin-top: 0px;
  }
}

h3 {
  margin: 40px 0 20px;
}

h4 {
  margin: 20px 0 20px;
}

.flex {
  display: flex;
  flex-flow: row wrap;

  p, ul {
    // display: flex;
    flex: 1 0 100%;
  }

  &-item,
  pre {
    // display: flex;
    flex: 1 0 50%;
  }
}

.flex.active {
  display: flex;
}

.nav-tabs > li > a {
  border-left: 0;
  border-radius: 0;
  border-right: 0;
}

.nav>li>a:hover,
.nav>li>a:focus {
  background-color: transparent;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
  border-left: 0;
  border-right: 0;
}

.tab-content {
  padding-top: 20px;
}
